<head></head>

<body id="reportsPage">

    <div class="container-fluid mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">BOOK NAME</th>
                                    <th scope="col">AUTHOR</th>
                                    <th scope="col">UNIT SOLD</th>

                                    <th scope="col">CREATED AT</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#each products}}
                                <tr>
                                    <th scope="row"><input type="checkbox" /></th>
                                    <td class="tm-product-name">
                                        <a class='link-edit' href='products/{{this._id}}/edit'>{{this.name}}</a>
                                    </td>
                                    <td>{{this.author}}</td>
                                    <td>0</td>
                                    <td>{{generateDate this.createdAt "kk:mm:ss | DD/MM/YYYY "}}</td>
                                    <td>
                                        <a href="#" class="tm-product-delete-link" data-id="{{this._id}}"
                                            data-cate="{{this.categoryID}}" data-name="{{this.name}}"
                                            data-toggle="modal" data-target="#delete-product-modal">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        </div>
                        
                        
                        <nav aria-label="Page navigation example align-items-end">
                            <ul id="pagination-wrapper" class="pagination">
                                
                            </ul>
                        </nav>
                        
                        <!-- table container -->
                        <a href="products/create-product" class="btn btn-primary btn-block text-uppercase mb-3">Add new
                            product</a>
                    {{!-- <button class="btn btn-primary btn-block text-uppercase">
                        Delete selected products
                    </button> --}}
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                    <h2 class="tm-block-title">Book Categories</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table">
                            <tbody>

                                {{#each categories}}
                                <tr>
                                    <td class="tm-product-name">{{this.name}} ({{this.numOfBook}})</td>
                                    <td class="text-center">

                                        {{!-- --------Button delete Category-------- --}}
                                        {{!-- <a href="#" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                            </a> --}}


                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <button class="btn btn-primary btn-block text-uppercase mb-3" data-toggle="modal"
                        data-target="#addNewCategoryDialog">
                        Add new category
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{!-- ------------form delete product-------------- --}}
    <form name="delete-product-form" method="POST"></form>

    {{!-- ------------Confirm delete product-------------- --}}
    <div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="btnDeleteProduct" type="button" class="btn btn-danger"
                        data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- ------------DIALOG ADD NEW CATEGORY-------------- --}}
    <div class="modal fade" id="addNewCategoryDialog" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addNewCategoryForm" method="POST" action="products/store-category" autocomplete="nope">
                        <div class="form-group">
                            <p>Enter new category name: </p>
                            <input name="name" id="nameCategory" type="" class="form-control" autofocus
                                autocomplete="nope">
                            <div class="invalid-feedback">
                                Enter name.
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Re-enter name: </p>
                            <input id="nameCategory_retype" type="text" class="form-control"
                                autocomplete="nope" />
                            <div class="invalid-feedback">
                                Do not match
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnAddNewCategory" class="btn btn-primary" disabled="true" type="submit"
                        form="addNewCategoryForm" value="Submit">Add</button>
                </div>
            </div>
        </div>
    </div>






    <script src="js/jquery-3.3.1.min.js"></script>
    <script>
        var productId;
        var categoryId;
        var btnDeleteProduct = document.getElementById('btnDeleteProduct');
        var btnAddNewCategory = document.getElementById('btnAddNewCategory');
        var deleteProductForm = document.forms['delete-product-form'];
        var txtCategoryName = document.getElementById('nameCategory');
        var txtCategoryName_retype = document.getElementById('nameCategory_retype');

        var btnAddNewCategory = document.getElementById('btnAddNewCategory');

        //When dialog confirm show
        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            productId = button.data('id');
            categoryId = button.data('cate');

            var name = button.data('name');
            var modal = $(this)
            modal.find('.modal-body').text(`Are you sure delete this product? (${name})`);
        })

        //Listening
        btnDeleteProduct.onclick = function () {
            deleteProductForm.action = '/products/' + productId + '/' + categoryId + '?_method=DELETE';
            deleteProductForm.submit();
        }



        // When type input
        txtCategoryName.addEventListener('input', (event) => {
            if (txtCategoryName.value == '') {
                txtCategoryName.classList.add("is-invalid");
            } else {
                txtCategoryName.classList.remove("is-invalid");
            }

            if (txtCategoryName_retype.value == txtCategoryName.value) {
                txtCategoryName_retype.classList.remove("is-invalid");
            } else {
                txtCategoryName_retype.classList.add("is-invalid");
            }

            //Button
            if (txtCategoryName.value != '' && txtCategoryName_retype.value == txtCategoryName.value) {
                btnAddNewCategory.disabled = false;
            } else {
                btnAddNewCategory.disabled = true;
            }
        });

        txtCategoryName_retype.addEventListener('input', (event) => {
            if (txtCategoryName_retype.value == txtCategoryName.value) {
                txtCategoryName_retype.classList.remove("is-invalid");
            } else {
                txtCategoryName_retype.classList.add("is-invalid");
            }

            //Button
            if (txtCategoryName.value != '' && txtCategoryName_retype.value == txtCategoryName.value) {
                btnAddNewCategory.disabled = false;
            } else {
                btnAddNewCategory.disabled = true;
            }
        });


        //Paginate button
        var totalPages = {{totalPages}};
        var currentPage = {{currentPage}};
        var pStart = 1;
        var pEnd = totalPages;

        const wrapper = document.getElementById('pagination-wrapper');
      
        //wrapper.innerHTML = '';
        wrapper.innerHTML =`<li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
                                <a class="page-link" href="/products?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>`;
        if(currentPage > 4) {
            pStart = currentPage - 3;
            wrapper.innerHTML += `<li class="page-item"><a class="page-link">...</a></li>`;
        }
          
        pEnd = currentPage + 3 < totalPages ? currentPage + 3 : totalPages; 
            
        for(var i = pStart; i <= pEnd; i++){
            if(i == currentPage){
                wrapper.innerHTML += `<li class="page-item active"><a class="page-link">${i}</a></li>`;
            } else {
                wrapper.innerHTML += `<li class="page-item"><a class="page-link" href="/products?page=${i}">${i}</a></li>`;
            }
        }

        if(pEnd < totalPages) {
            wrapper.innerHTML += `<li class="page-item"><a class="page-link">...</a></li>`;
        }

        wrapper.innerHTML += `<li class="page-item {{#unless hasNextPage}}disabled{{/unless}}"">
                                    <a class="page-link" href="/products?page=${totalPages}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>`
                            

    </script>


</body>